html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  float: left;
  width: 14.28%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 3px;
  text-align: right;
  background-color: aquamarine;
  height: 35px;
  width: 150px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 3px;
  text-align: center;
  background-color: #f1f1f1;
  height: 150px;
  width: 150px;
}

.card-entry {
  display: flex;
  float: left;
  text-align: center;
  
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}